.heading{
    font-size: 22px;
    width: 80%;
    box-shadow: 5px 10px 18px rgb(92, 175, 231);
    }
    #fontsize{
    color: rgb(0, 0, 0);
    font-size: 30px;
    
    margin-top: 10px;
    }
    .copyright-footer{
    position:fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: rgb(0, 119, 255);
    text-align: center;
    line-height: 3;
    }
    canvas{
    border: 5px solid white;
    border-radius: 20px; 
    box-shadow: 5px 10px 18px cyan;
    
    }
    body{
    overflow-y: hidden;
    }